{% extends 'base.html' %}

{% load static %}

{% load humanize %}

{% block title %}
 | 教师列表
{% endblock %}

{% block content %}

  <!-- Banner Starts Here -->
   <section class="call-to-action">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="main-content" background>
              <div class="row">
                
                  <font color="white">
                  <h1 style="text-align:center">教师列表</h1>
                  </font>
                
               
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <!-- Banner Ends Here -->




    <section class="blog-posts grid-system">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="all-blog-posts">
              <div class="row">
                {% for listing in listings%}

                
                    <div class="col-lg-6">
                    <div class="blog-post">
                        <div class="blog-thumb">
                        <img src="{{listing.photo.url}}" width="370" height="340" alt="">
                        </div>
                        <div class="down-content">
                        <span>{{listing.rank}}</span>
                        <a href="{% url 'teacherlisting' listing.id %}"><h4>{{listing.name}}</h4></a>
                        <ul class="post-info">
                            <li>{{listing.dept}}</li>
                            <li>{{listing.organs}}</li>
                        </ul>
                        <p class="abstract">{{listing.researchfield}}</p>
                       
                        </div>
                    </div>
                    </div>
                {%endfor%}
             

                <div class="col-lg-12">
                  <ul class="page-numbers">

                   {% if listings.has_other_pages %}
                    
                    {%if listings.has_previous%}
                        <li class="page-item">
                        <a href="?page={{listings.previous_page_number}}">&laquo;</a>
                        </li>
                    {%else%}
                        <li class="page-item disabled">
                        <a>&laquo;</a>
                        </li>
                    {%endif%}

                    {% for i in listings.paginator.page_range %}
                        {% if listings.number == i %}
                        <li class="page-item active">
                        <a>{{ i }}</a>
                        </li>
                        {% else %}
                        <li>
                        <a href="?page={{i}}">{{ i }}</a>
                        </li>
                        {%endif%}
                    {%endfor%}

                    {%if listings.has_next%}
                        <li>
                        <a href="?page={{listings.next_page_number}}" class="page-link">&raquo;</a>
                        </li>
                    {%else%}
                        <li class="disabled">
                        <a>&raquo;</a>
                        </li>
                    {%endif%}

            </ul>
          {% endif %}
                    
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="sidebar">
              <div class="row">
                <div class="col-lg-12">
                  <div class="sidebar-item search">
                    <form id="search_form" name="gs" method="GET" action="#">
                      <input type="text" name="q" class="searchText" placeholder="type to search..." autocomplete="on">
                    </form>
                  </div>
                </div>
               
                <div class="col-lg-12">
                  <div class="sidebar-item categories">
                    <div class="sidebar-heading">
                      <h2>学院</h2>
                    </div>
                    <div class="content">
                      <ul>
                        <li><a href="#">- Nature Lifestyle</a></li>
                        <li><a href="#">- Awesome Layouts</a></li>
                        <li><a href="#">- Creative Ideas</a></li>
                        <li><a href="#">- Responsive Templates</a></li>
                        <li><a href="#">- HTML5 / CSS3 Templates</a></li>
                        <li><a href="#">- Creative &amp; Unique</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="sidebar-item tags">
                    <div class="sidebar-heading">
                      <h2>Tag Clouds</h2>
                    </div>
                    <div class="content">
                      <ul>
                        <li><a href="#">Lifestyle</a></li>
                        <li><a href="#">Creative</a></li>
                        <li><a href="#">HTML5</a></li>
                        <li><a href="#">Inspiration</a></li>
                        <li><a href="#">Motivation</a></li>
                        <li><a href="#">PSD</a></li>
                        <li><a href="#">Responsive</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}

