{% extends 'base.html' %}

{% load static %}

{% load humanize %}

{% block title %}
 | 教师列表
{% endblock %}


{% block content %}

  <!-- Banner Starts Here -->
   <section class="call-to-action">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="main-content" background>
              <div class="row">
                
                  <font color="white">
                  <h1 style="text-align:center">教师列表</h1>
                  </font>
                
               
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <!-- Banner Ends Here -->




    <section class="blog-posts grid-system">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="all-blog-posts">
              <div class="row">
                {% for listing in listings%}

                
                    <div class="col-lg-6">
                    <div class="blog-post">
                        <div class="blog-thumb">
                        <img src="{{listing.photo.url}}" width="370" height="340" alt="">
                        </div>
                        <div class="down-content">
                        <span>{{listing.rank}}</span>
                        <a href="{% url 'teacherlisting' listing.id %}"><h4>{{listing.name}}</h4></a>
                        <ul class="post-info">
                            <li>{{listing.dept}}</li>
                            <li>{{listing.organs}}</li>
                        </ul>
                        <p class="abstract">{{listing.researchfield}}</p>
                       
                        </div>
                    </div>
                    </div>
                {%endfor%}
             

                <div class="col-lg-12">
                  <ul class="page-numbers">

                   {% if listings.has_other_pages %}
                    
                    {%if listings.has_previous%}
                        <li class="page-item">
                        <a href="?page={{ listings.previous_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">&laquo;</a>

                        </li>
                    {%else%}
                        <li class="page-item disabled">
                        <a>&laquo;</a>
                        </li>
                    {%endif%}

                    {% for i in listings.paginator.page_range %}
                        {% if listings.number == i %}
                        <li class="page-item active">
                        <a>{{ i }}</a>
                        </li>
                        {% else %}
                        <li>
                        
                        <a href="?page={{i }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">{{i}}</a>
                        </li>
                        {%endif%}
                    {%endfor%}

                    {%if listings.has_next%}
                        <li>
                        <a href="?page={{ listings.next_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">&raquo;</a>
                        </li>
                    {%else%}
                        <li class="disabled">
                        <a>&raquo;</a>
                        </li>
                    {%endif%}

            </ul>
          {% endif %}
                    
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="sidebar">
              <form id="search_form" name="gs" method="GET" action="{%url 'teachers'%}">
              <div class="row">
                <div class="col-lg-12">
                  <div class="sidebar-item search">
                    
                      <input type="text" name="q" class="searchText" placeholder="请输入搜索内容" value={{values.q}}>
                    
                  </div>
                </div>
               
                <div class="col-lg-12">
                  <div class="sidebar-item categories">
                    <div class="sidebar-heading">
                      <h2>按学院筛选</h2>
                    </div>

                    <div class="content">
                      <select name="academy">
                        <option selected='true'>全部</option>
                        {% for key,value in academy_choices.items%}
                            <option value ={{key}}
                            {% if values.academy == key %}
                              selected
                            {%endif%}
                            >{{value}}</option>
                        {%endfor%}
                      </select>
                    </div>
                  </div>
                </div>

                <div class="col-lg-12">
                  <div class="sidebar-item tags">
                    <div class="sidebar-heading">
                      <h2>按职称筛选</h2>
                    </div>
                    <div class="content">
                      <select name="rank">
                      <option selected='true'>全部</option>
                        {% for key,value in rank_choices.items%}
                            <option value ={{key}}
                              {% if values.rank == key %}
                              selected
                              {%endif%}
                            >{{value}}</option>
                        {%endfor%}
                      </select>
                    </div>
                  </div>
                </div>

                <div class="col-lg-12">
                  <div class="sidebar-item tags">
                    <div class="sidebar-heading">
                      <h2>排序</h2>
                    </div>
                    <div class="content">
                      <select name="sort">
                        <option selected='true' disabled=true></option>
                        <option value ='1'>姓名拼音顺序</option>
                        <option value ='2'>姓名拼音倒序</option>
                      </select>
                    </div>
                  </div>
                </div>
                 <div class="col-lg-12">
                      
                     <button type="submit" id="form-submit" class="main-button">搜索</button>
                      
                 </div>

              </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}

