  
<div class="navbar navbar-inverse">
        <div >
            <div class="row">
                <div class="col-lg-12">
                    <div class="navbar-header">
                        <a href="#" class="navbar-brand">评教+</a>
                    </div>
                    <div class="navbar-collapse collapse" id="mobile_menu">
                        <ul class="nav navbar-nav">
                            <li 
                            {% if '/' == request.path %}
                                class="active"
                            {%endif%}
                            ><a href="{%url 'index'%}">主页</a></li>
                            <li
                            {% if 'teachers' in request.path %}
                                class="active"
                            {%endif%}
                            ><a href="{%url 'teachers'%}">教师信息</a></li>
                            <li
                             {% if 'courses' in request.path %}
                                class="active"
                            {%endif%}
                            ><a href="#">课程信息</a></li>
                            <li
                             {% if 'discuss' in request.path %}
                                class="active"
                            {%endif%}
                            ><a href="#">讨论区</a></li>
                            <li
                             {% if 'about' in request.path %}
                                class="active"
                            {%endif%}
                            ><a href="{%url 'about'%}">关于</a></li>
                        </ul>
                        <ul class="nav navbar-nav">
                            <li>
                                <form action="" class="navbar-form">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input type="search" name="search" id="" placeholder="搜索" class="form-control">
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                                        </div>
                                    </div>
                                </form>
                            </li>
                        </ul>
                        {%if user.is_authenticated%}
                            <ul class="nav navbar-nav navbar-right">
                            <li><a href="#">欢迎，{{user.username}}</a></li>
                            <li><a href="{%url 'dashboard'%}"><span class="glyphicon glyphicon-user"></span> 个人信息</a></li>
                            <li>
                            <a href="javascript:{document.getElementById('logout').submit()}">
                                <i class="fas fa-sign-out-alt"></i> 退出登录
                            </a>
                            <form action="{% url 'logout'%}" method="POST" id="logout">
                                {% csrf_token %}
                                <input type="hidden">
                            </form>
                            </li>

                            </ul>
                        {%else%}
                            <ul class="nav navbar-nav navbar-right">
                            <li><a href="{%url 'login'%}"><span class="glyphicon glyphicon-user"></span> 登录</a></li>
                            <li><a href="{%url 'register'%}"><span class="glyphicon glyphicon-user"></span> 注册</a></li>
                            </ul>
                        {%endif%}
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
